@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat&family=Rock+Salt&display=swap');


:root {
    --primary-color: #F2F8F3;
    --secondary-color: #9FAA88;
    --accent1-color: #2D4D3C;
    --accent2-color: #101913;
    --accent3-color: #FFFFFF;
  
    --heading-font: "Rock Salt", "Island Moments";
    --paragraph-font: Montserrat, "Island Moments", sans-serif;
  
    --headline-color-on-white: #101913;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2D4D3C; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #FFFFFF; /* paragraph text on a colored background */ 
    --paragraph-background-color: #9FAA88;
    --nav-link-color: #101913;
    --nav-background-color: #9FAA88;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #2D4D3C;
  }

* {
    box-sizing: border-box;
    margin: auto 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-white);
    width: 1600px;
    box-sizing: border-box;
    margin: auto 0;
    padding: 0;
}

.container {
    /* display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 1fr 1fr; */
    width: 800px;
    justify-content:center;
    justify-items: center;
    align-content:center;
    align-items: center;
}

.title {
    /* grid-column: 1/5;
    grid-row: 1/2; */
    font-family: var(--heading-font);
    font-size: 1rem;
    text-align: center;
}

.paragraph {
    /* grid-column: 2/4; */
    font-family: var(--paragraph-font);
    font-size: 1rem;
    margin: 3rem;
}