@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Montserrat&family=Rock+Salt&display=swap');

/* CSS Variables */
:root {
    --primary-color: #F2F8F3;
    --secondary-color: #9FAA88;
    --accent1-color: #2D4D3C;
    --accent2-color: #101913;
    --accent3-color: #FFFFFF;
  
    --heading-font: "Rock Salt", "Island Moments";
    --paragraph-font: Montserrat, "Island Moments", sans-serif;
  
    --headline-color-on-white: #101913;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #2D4D3C; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #FFFFFF; /* paragraph text on a colored background */ 
    --paragraph-background-color: #9faa88;
    --nav-link-color: #101913;
    --nav-background-color: #9faa88;
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #2D4D3C;
  }
* {
    box-sizing: border-box;
    margin: auto 0;
    padding: 0;
}
body {
    font-family: var(--paragraph-font);
    line-height: 1.4;
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}
.menu-wrapper {
    background-color: var(--primary-color);
}
.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
}
.contact-today {
    text-decoration: none;
    color: var(--accent2-color);
    font-size: 1.3rem;
}
.logo {
    width: 250px;
}
.contact-call1{
    text-align: right;
    padding: 0;
}
.main-navigation ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    background: var(--primary-color);
    list-style: none;
    padding: 0;
    margin-top: 20px;
    font-size: 1.5rem;
}
.main-navigation a {
    background: var(--nav-background-color);
    color: var(--nav-link-color);
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.8rem;
    border: 0;
}
.btn1 {
    background: var(--nav-background-color);
    color: var(--accent2-color);
}
.main-navigation a:hover {
    background: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

#hero {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
}
#hero-box-contact {
    grid-column: 1 /11;
    grid-row: 1 /2;
    z-index: -1;
    margin-top: -3px;
}
#hero-img {
    width: 100%;
    height: auto;
}
#hero-msg {
    grid-column: 1/11;
    grid-row: 1/2;
    margin-top: 70px;
}
.home-title {
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
    font-size: 3rem;
    text-align: center;
}

#background {
    grid-column: 2/10;
    height: auto;
    width: 80%;
    margin-top: -180px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(167, 171, 153);
    background: rgba(167, 171, 153, 0.7); /* 0.5 opacity */
    border: #101913 solid 1px;
    margin-bottom: 80px;
}

.main-grid {
    width: 100%;
}
.about-paragraph {
    grid-column: 2/10;
    padding: 50px;
    font-size: 150%;
    text-align: center;
    width: auto;
}

/* --CSS FOR CONTACT US PAGE-- */
.grid-contactus {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 300px 15px 1fr;
    width: 75%;
    font-family: 'Nunito';
    text-align: center;
    color: #4B4F40;
    padding: 0;
    margin: 0 auto;
}

/* TITLE */
.title-contactus {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 10px;
    font-family: 'Rock Salt';
    font-size: 4.5rem;
    padding: 70px;
    margin: 0px;
}

/* SUBTITLE */
.paragraph-contactus {
    grid-column: 1/2;
    grid-row: 2/-1;
    font-size: 1.5rem;
    padding: 0 0 0 40px;
    margin: 0 0 40px;
    text-align: left;
}

.container-contactus {
    grid-column: 1/3;
    grid-row: 3/4;
    max-width: 700px;
    height: 600px;
    box-sizing: border-box;
    padding: 30px;
}

  .input, .contactus-msg {
    font-family: var(--paragraph-font);
    font-size: 14px;
    width: 100%;
    height: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 2px solid #a8ac9a;
    border-radius: 8px;
    resize: vertical;
}

.contactus-msg {
    height: 250px;
}

.btn2 {
    background: var(--nav-background-color);
    color: var(--nav-link-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    background: var(--secondary-color);
    height: 50px;
    line-height: 20px;
    border: none;
    border-radius: 8px;
    margin: 0 auto;
    cursor: pointer;
  }
  .btn2:hover {
    background: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.input:focus, .contactus-msg:focus {
    outline: none;
    border-color: #4B4F40;
}

/* COMPANY'S INFORMATION & TIME */
.contactus-info {
    grid-column: 3/5;
    grid-row: 3/4;
    font-size: 1.3rem;
    text-align: left;
    margin-top: -1rem;
}

.thank-you {
    font-family: var(--heading-font);
    font-size: 3.5rem;
    color: #4B4F40;
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
}
.thank {
    font-family: var(--paragraph-font);
    font-size: 2.5rem;
    color: #4B4F40;
    text-align: center;
    margin: 50px auto;
}
.return {
    font-family: var(--secondary-color);
    text-align: center;
    margin-top: 70px;
    text-decoration: none;
    margin: 70px auto;
    font-size: 1.8rem;
    color: var(--accent2-color)
}
a.return:hover, a.return:active {
    color: var(--nav-background-color);
    font-size: 1.7rem;
}

/* FOOTER */
footer {
    width: auto;
    height: auto;
}
.footer-wrapper {
    background-color: var(--primary-color);
    margin-top: 220px;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-logo {
    grid-column: 1/2;
    grid-row: 2/3;
}
.footer-logo-img {
    width: 500px;
}
.footer-nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    text-decoration: none;
    margin-top: -80px;
    text-transform: uppercase;
}
.footer-nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
}
.footer-nav a:hover {
    font-size: 1.4rem;
    color: var(--nav-background-color);
}
.social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-transform: uppercase;
    width: auto;
}
.stay-connected {
    font-size: 1.5rem;
    text-align: center;
}
.social-block {
    align-self: center;
    justify-self: center;
}
.contact-footer {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 50px;
    padding-bottom: 30px;
}
.copyright-footer {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 1.5rem;
    text-align: left;
}

/* MEDIA QUERY */
@media screen and (max-width: 1450px) {
    #background {
        margin-top: -110px;
    }
}
/* iPad 12.9-inch iPad Pro (2021, 2020, 2018, 2017, 2015) - Screen Size - Landscape */
@media screen and (max-width: 1366px) {
    #background {
        margin-top: -155px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
}
@media screen and (max-width: 1304px) {
    #background {
        margin-top: -110px;
    }

    .footer-navigation {
        align-self: center;
        justify-self: center;
    }
    .footer-nav ul {
        grid-template-columns: 1fr;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-nav a {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
    }
    .footer-nav a:hover {
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 1220px) {
    .footer-nav a {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1205px) {
    .main-navigation ul {
        font-size: 1.2rem;
    }
    .footer-navigation {
        align-self: center;
        justify-self: center;
    }
    .footer-nav ul {
        grid-template-columns: 1fr;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-nav a {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
    }
    .footer-nav a:hover {
        font-size: 1.6rem;
    }
    .stay-connected {
        margin-top: 50px;
    }
}
/* iPad 11-inch iPad Pro (2021, 2020, 2018) - Screen Size - Landscape */
@media screen and (max-width: 1194px) {
    #background {
        margin-top: -120px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .footer-navigation {
        align-self: center;
        justify-self: center;
    }
    .footer-nav ul {
        grid-template-columns: 1fr;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .footer-nav a {
        text-align: center;
        font-size: 1.5rem;
        width: 100%;
    }
    .footer-nav a:hover {
        font-size: 1.6rem;
    }
    .stay-connected {
        margin-top: 50px;
    }
}
@media screen and (max-width: 1103px) {
    .icons-wrapper {
        font-size: 0.9rem;
        margin: 1rem 1rem;
    }
    .home-title {
        font-size: 2.5rem;
        padding-top: 0.7rem;
    }
}
@media screen and (max-width: 1037px) {
    .main-navigation a {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
    #background {
        margin-top: -110px;
    }
    .about-paragraph {
        padding: 50px;
    } 
    .contactus-info {
        font-size: 1.1rem;
    }
    .footer-wrapper {
        background-color: var(--primary-color);
    }
    .footer-container {
        display: block;
        height: 1000px;
        margin: 0 auto;
    }
    .footer-container-logo {
        width: 100%;
    }
    .footer-logo-img {
        width: 100%;
    }
    .contact-footer {
        font-size: 1.2rem;
        margin: 50px;
    }
    .copyright-footer {
        font-size: 1.2rem;
        text-align: center;
        height: 10px;
        margin: 60px;
    }
}
/*  iPad Screen Size 9.7-inch iPad 2 (2011), iPad mini (2012) - Landscape or 
    iPad 12.9-inch iPad Pro (2021, 2020, 2018, 2017, 2015) - Portrait */
@media screen and (max-width: 1024px) {
    #background {
        margin-top: -130px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 953px) {
    .footer-logo-img {
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    #background {
        margin-top: -110px;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 850px) {
    #background {
        margin-top: -110px;
    }
    .footer-logo-img {
        width: 100%;
    }
    .paragraph-contactus {
        font-size: 1.3rem;
    }
}
/*  iPad 10.5-inch iPad Air (2019), 10.5-inch iPad Pro (2017) - Portrait or
    iPad 11-inch iPad Pro (2021, 2020, 2018) - Screen Size - Portrait */
@media screen and (max-width: 834px) {
    #background {
        margin-top: -120px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 808px) {
    .logo-container {
        font-size: 0.7rem;
    }
    .logo {
        width: 200px;
    }
    .main-navigation ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        margin-top: 10px;
    }
    .main-navigation a {
        font-size: 1.1rem;
        padding: 0.5rem;
    }
    #hero-msg {
        grid-column: 1/11;
        grid-row: 1/2;
        margin-top: 50px;
    }
    .home-title {
        color: var(--headline-color-on-white);
        font-size: 2.0rem;
        /* padding-top: 0.5rem; */
    }
    #background {
        margin-top: -110px;
    }
    .about-paragraph {
        padding: 50px;
    }
}
/* iPad Screen Size - Portrait */
@media screen and (max-width: 768px) {
    #background {
        margin-top: -80px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .paragraph-contactus {
        font-size: 1.1rem;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 736px) {
    #background {
        margin-top: -80px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 660px) {
    .paragraph-contactus {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 648px) {
    .main-navigation ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        background: var(--primary-color);
        list-style: none;
        padding: 0;
        margin-top: 5px;
    }
    .home-title {
        color: var(--headline-color-on-white);
        font-size: 1.5rem;
        padding-top: 0.1rem;
    }
    #background {
        margin-top: -80px;
    }
    .about-paragraph {
        padding: 40px;
    }
    .contactus-info {
        font-size: 1rem;
    }
}
@media screen and (max-width: 607px) {
    #hero-msg {
        margin-top: 40px;
    }
    #background {
        margin-top: -80px;
    }
    .about-paragraph {
        padding: 40px;
    }
    .contactus-info {
        font-size: 0.9rem;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    #background {
        margin-top: -70px;
    }
    .contactus-info {
        font-size: 0.8rem;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 525px) {
    .about-paragraph {
        padding: 40px;
    }
    #background {
    margin-top: -70px;
    }
    .footer-logo-img {
        width: 100%;
    }
}
/* iPhone Screen Size - Landscape */
@media screen and (max-width: 480px) {
    .about-paragraph {
        padding: 40px;
    }
    #background {
    margin-top: -70px;
    width: 90%;
    }
    .contactus-info {
        font-size: 0.7rem;
    }
    .footer-logo-img {
        width: 100%;
    }
}
@media screen and (max-width: 340px) { 
    #background {
        margin-top: -30px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .footer-logo-img {
        width: 100%;
    }
}
/* iPhone Screen Size - Portrait */
@media screen and (max-width: 320px) { 
    #background {
        margin-top: -30px;
        width: 90%;
    }
    .about-paragraph {
        padding: 40px;
    }
    .footer-logo-img {
        width: 100%;
    }
}