body {
    margin: 0 auto;
    width: 1280px;
    height: 860px;
}

#div-top {
    width: 1280px;
    height: 500px;
}

.top-img {
    position: absolute;
    top: 1;
    left: 5;
    width: 1280;
    height: 500;

}

.container {
    height: 500;
    padding: 5% 5% 5% 5%;
    background-color: #737373;
}

.container-span {
    display: inline;
    /*width:1280px;*/
    padding: 5%;
}

.img-circle {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    border: 15px solid #444444;   
}